<div class = "middlebox">
    <mat-card>
        <mat-list *ngFor = "let student of students">
            <mat-list-item>
                {{student.student.id}} &nbsp;
                {{student.student.fname}} {{student.student.lname}} &nbsp;
                {{student.student.program}} &nbsp;
                {{student.student.semester}}  &nbsp;
                &nbsp; &nbsp;

                
                <mat-select class = "select"  [(ngModel)] = 'student.grade'>
                    <mat-option *ngFor="let grade of grades" [value] = "grade" >
                        {{ grade }}
                    </mat-option>
                </mat-select>
                
            </mat-list-item>
        </mat-list>
        <button mat-raised-button color = "accent" (click) = "saveGrades()" *ngIf = "students?.length > 0">Save</button>
        <p *ngIf = "students?.length == 0">No students opted for this course</p> 
        <br>
        <br>
        <button mat-raised-button color = "accent" (click) = "sortStudentsByName()" *ngIf = "students?.length > 0">Sort By Name</button>
    </mat-card>
</div>
