<div class = "middlebox">
    <mat-card>
        <mat-card-title>Log In</mat-card-title>
        <form [formGroup] = "logInForm">
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput placeholder = "Username" formControlName = "username">
                <mat-error *ngIf = "(logInForm.get('username').dirty || logInForm.get('username').touched) &&
                logInForm.get('username').errors?.error">
                    Must be Numeric
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Category</mat-label>
                <mat-select formControlName="category">
                    <mat-option *ngFor="let category of categories" [value]="category">
                        {{ category }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput placeholder = "Password" type = "password" formControlName = "password">
                <mat-error *ngIf = "logInForm.get('password').dirty || logInForm.get('password').touched">
                    Required
                </mat-error>
            </mat-form-field>
            <br>
            <button mat-raised-button color = "accent" (click) = "loginUser()">Log In</button>
            <br>
            {{message}}
        </form>
        <br>
        <button mat-raised-button color = "accent" (click) = "RegisterAsTeacher()">Register As Teacher</button>
        &nbsp; &nbsp;
        <button mat-raised-button color = "accent" (click) = "RegisterAsStudent()">Register As Student</button>
    </mat-card>
</div>
