
 <body>
    <mat-card class = "leftbox">
        <mat-card-title>Actions</mat-card-title>
        <mat-nav-list >
            <button mat-raised-button color = "warn" (click) = "signOut()">Sign Out</button>
        </mat-nav-list>
    </mat-card>

    <container-element  [ngSwitch]="selector">
        <app-course-list *ngSwitchCase = "1" (packetEvent) = "getPacketDetailsFromChild($event)"
        (courseSaveEvent) = "getPacketListFromChild($event)"></app-course-list>
        <app-course-details [packet] = "packet" *ngIf = "packet"></app-course-details>
        
    </container-element>


</body>