<div class = "rightbox">
    <mat-card>
        <mat-list>
            <mat-list-item>Name: {{packet.course?.name}}</mat-list-item>
            <mat-list-item>Outline: {{packet.course?.outline}}</mat-list-item>
            <mat-list-item>Credits: {{packet.course?.credits}}</mat-list-item>
            <mat-list-item>Teacher Name: {{packet.teacher?.fname}} {{packet.teacher.lname}}</mat-list-item>
            <mat-list-item>Teacher Qualifications: {{packet.teacher?.qualifications}}</mat-list-item>
            <mat-list-item>Grade Received: {{packet?.grade}}</mat-list-item>
        </mat-list>
    </mat-card>
</div>
